#divone{
    background-color:rgb(197, 145, 145);
    text-align:center;
    width:200px;
    padding:100px;
    margin-left:400px;
    height: 100px;
    
    

    #button0 {
        background-color: rgb(250, 117, 56);
    border-radius: 30px;

   } 
        
        #button1{
            background-color: rgb(250, 117, 56);
            border-radius: 30px;
            }

          #button0:hover {
                 background-color:white;
            } 
            #button1:hover {
                background-color:white;
           } 
         
}
